p {
  padding: 10px;
  background-color: #aaaaaa50;
  color: #333333;
  border: 2px solid #333333;
}

p:nth-child(2) {
  text-align: left;
}

p:nth-child(3) {
  text-align: center;
}

p:nth-child(4) {
  text-align: right;
}

p:nth-child(5) {
  text-align: justify;
}