* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

div.grid1 {
  display: grid;
  grid-template-columns: [name-start] 1fr [name-end content-start] repeat(3, 1fr) [content-end];
  grid-template-rows: 50px 50px;
  width: 250px;
  gap: 1px;
}

div.grid1 div {
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

div.grid1 div.item1 {
  grid-column: name;
}

div.grid1 div.item2 {
  grid-column: content;
}